body {
    color: black;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background:  rgba(93, 240, 88, 0.993);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: 100ms;
}

.choice-pre {
    padding: 2rem 2.5rem;
    color: white
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-pre {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid green;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progBarFull {
    height: 100%;
    background: green;
    width: 0%;
}

