
@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');

:root {
    background-color: rgba(142, 142, 163, 0.993);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Lakki Reddy', cursive;
}

h1 {
    font-size: 4.6rem;
    color: white;
    margin-bottom: 4rem;
}

h2 {
    font-size: 4rem;
    margin-bottom: 3.8rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: 80rem;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.5rem;
    padding: 3rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    background: green;
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    transform: none;
}

.fa-crown {
    font-size: 2.5rem;
    margin-left: 1rem;
}